/* font */
@font-face {
    font-family: 'proxima_novaregular';
    src: url('font/mark_simonson__proxima_nova_regular-webfont.woff2') format('woff2'),
         url('font/mark_simonson__proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotcha_standupregular';
    src: url('font/64c2e8d1ee862c5c12f9c8d54f7c2ba2-webfont.woff2') format('woff2'),
         url('font/64c2e8d1ee862c5c12f9c8d54f7c2ba2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaregular';
    src: url('font/helvetica-webfont.woff2') format('woff2'),
         url('font/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    font-family:'proxima_novaregular';
    /* scrollbar-width: none; */
} 

.container-fluid{
    max-width: 1200px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 30px;
}


/* header */

.nav-logo img{
    width: 150px;
}
.nav-in{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}
.nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.nav-link-in{
    text-align: center;
    width: 100%;
}
.nav-link-in span{
    color: #C5C5C5;
    font-size: 12px;
}
.nav-link-in ul{
    list-style: none;
    display: flex;
    cursor: pointer;
    gap: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    width: 100%;
}
.nav-link-in a{
    text-decoration: none;
    color: black;
    padding: 4px 0 4px 0;
    position: relative;
}
.nav-link-in a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom : -5px;
    background-color: #FFEE00;
    width: 0;
    height: 2px;
    
}
.nav-link-in a:hover::after{
    width: 100%; 
    transition: 0.5s ease all; 
}
.nav-link-in a:hover{
    color: #FFEE00;
    font-weight: 800;
}
.nav-link-btn button{
    position: relative;
    background-color: #FFEE00;
    border-style: solid;
    border-color: #FFEE00;
    padding: 5px 15px 5px 15px;
    border-radius: 32.5px;
}
.nav-link-btn button:hover{
   filter: brightness(90%);
    transition: 0.2s ease all;
}
.drop button{
    position: absolute;
    right: 20px;
    top: 30px;
    border-style: none;
    background-color: transparent;
    font-size: 20px;
  }
.drop-open button,.drop-close button{
    visibility: hidden;
    opacity: 0;
}

/* banner */

.banner{
    height: 100vh;
    position: relative;
}
.ban-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-position: 100% 60%;
}
.ban-content-in{
    width: 32%;
    padding-top: 100px;
}
.ban-heading h1{
    font-family: "gotcha_standupregular";
    color: #1D72DD;
    font-weight: 400;
}
.ban-heading h2{
    font-weight: 300;
}
.ban-heading {
    margin-bottom: 20px;
}
.ban-btn-heading{
    font-size: 12px;
    font-family:"helveticaregular" ;
    color: #3875E6;
    position: relative;
}
.arrow{
    position: absolute;
    left: 90px;
    top: 0;
}
.arrow img{
    width: 40px;
}
.ban-btn-in{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 12px;
    white-space: nowrap;
}
.ban-btn-in button,input{
    padding: 10px 0 10px 0;
    width: 100%;
    border-style: solid;
    font-family: "helveticaregular";
    box-shadow: 3px 3px 5px #CCCCCC;
}
.ban-btn-in .text-box input{
    border-top-left-radius: 32.5px;
    border-bottom-left-radius: 32.5px;
    border-width: 2px 0 2px 2px;
    background-color: white;
    border-color: white;
    padding-left: 20px;
    outline: none;
}
.ban-btn-in .btn-in button{
    border-top-right-radius: 32.5px;
    border-bottom-right-radius: 32.5px;
    border-width: 2px;
    background-color: #FFEE00;
    border-color: #FFEE00;
}
.ban-btn-in .btn-in button:hover{
    filter: brightness(90%);
    transition: 0.2s ease all;
}

/* page break section  */

.page-break{
    background-color: #436986;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    gap: 40px;
}
.pg-brk-text{
    color: white;
}
.pg-brk-btn button{
    background-color: #FFEE00;
    border-style: solid;
    border-color: #FFEE00;
    padding: 5px 15px 5px 15px;
    border-radius: 32.5px;
}


/* media Queries */

@media only screen and (max-width: 1200px) {
  .nav-link-in ul{
    flex-direction: column;
    padding-left: 0;
    justify-content: start;
  }
  .nav-link-in li{
    text-align: left;
    position: relative;
  }
  .nav-link-in a{
    position: static;
  }
  .nav-in{
    flex-direction: column;
    position: relative;
  }
  .drop-open button{
    visibility: visible;
    opacity: 1;
  }
  .drop-open button.close{
    visibility: hidden;
    opacity: 0;
  }
  .drop-close button.open{
    visibility: visible;
    opacity: 1;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    height: 0;
  }
   .nav-links.active{
    visibility: visible;
    opacity: 1;
    padding: 30px 0 30px 15px;
    height: auto;
    transition: 0.5s ease all;
  } 
}
@media only screen and (max-width: 992px){
    .ban-content-in{
        width: 43%;
    }
}
@media only screen and (max-width: 992px){
    .ban-img img{
        position: relative;
        object-position: 100% 60%;
        z-index: auto;
    }
    .ban-img{
        width: 100%;
        height: 700px;
    }
    .banner{
        height: auto;
        background-color: #EDEDED;
    }
    .ban-content-in{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ban-btn{
        width: 330px;
    }
}
@media only screen and (max-width: 768px){
    .ban-img{
        height: 580px;
    }
}

@media only screen and (max-width: 600px){
    .ban-img{
        height: 450px;
    }
}
@media only screen and (max-width: 470px){
    .ban-img{
        height: 400px;
    }
}
@media only screen and (max-width: 416px){
    .ban-img{
        height: 350px;
    }
}